.content{
    margin-top: 10px;
    
    
}
.button-container{
    text-align: center;
    width: 163px;
}
.amount{
    font-size: 130%;
    overflow: hidden;
}
.positive{
    color: #5cb85c;
}
.negative{
    color: #d43f3a;
}
.header iframe{
    position: relative;
    top: 6px;
}
footer{
    margin-bottom: 20px;
}
.end-ms{
    background: #2067B2 url('/img/bsod.png') no-repeat;
}
.end-ms *{
    display: none;
}
.game-row .affix{
    top: 10px;
}