.content{
    margin-top: 10px;
}
.button-container{
    text-align: center;
}
.amount{
    font-size: 130%;
    overflow: hidden;
}
.positive{
    color: #5cb85c;
}
.negative{
    color: #d43f3a;
}
.buff-effects{
    font-size: 80%;
}
.buff-effects ul{
    padding-left: 10px;
}
.ui-loader{
    display: none;
}
.button-container{
    min-width: 180px;
}
.estimate-profit-container{
    margin-top: 5px;
}