<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Ты такой какой-никакой программист и вроде как пытаешься заработать, нанимая программистов и добавляя плюшки.">
        <meta name="author" content="Roman Nix">
        <link rel="shortcut icon" href="/favicon.png">

        <title>Web developer</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/main.css?v=1.02" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="/js/html5shiv.js"></script>
          <script src="/js/respond.min.js"></script>
        <![endif]-->
        
        <!-- Вы любите заглядывать в код? Ещё и, наверное, в поисках предложений о работе?
        Не в этот раз! Сам бы позаглядывал в целях удалённого php-серверсайда. rnixik на гмейл -->
    </head>
    <body>



        <div class="container">
            
            <div class="content">
                <div class="alert alert-success checkpoint-alert" style="display: none;">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    Поздравляем! Вы заработали ${{amount}} за {{time}}с <br>
                        
                    <script type="text/template" id="checkPointTwitTpl">
                        <a href="https://twitter.com/share" class="twitter-share-button checkpoint-twit" data-text="Я всё-таки заработал ${{amount}} за {{time}}с. v1.02" data-lang="ru" data-count="none" data-hashtags="webdeveloper">Твитнуть</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </script>
                </div>
                
                <div class="alert alert-info end-os-alert" style="display: none;">
                    Самоё время помочь Open Source. Сделайте свой вклад, например, на <a href="https://github.com/">GitHub</a>.
                </div>
                
                <div class="alert well header">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    Вы - как будто программист. 
                    Делайте сайты, набирайте команду. 
                    <br>
                    Чтобы начать зарабатывать, нажмите кнопку "сделать сайт".
                    Чем быстрее вы заработаете <strong>миллион</strong>, тем лучше. <br>
                    Есть мобильная версия для Android в <a href="https://play.google.com/store/apps/details?id=be.rnix.webdeveloper" target="_blank">Google Play</a>.
                    <br>
                    <br>
                    Раз вы всё равно прокрастинируете, то можете 
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Я такой крутой веб-программист, зарабатываю тут миллионы (на самом деле нет)." data-lang="ru" data-count="none" data-hashtags="webdeveloper">Твитнуть</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div> 
                
                <div class="row game-row">
                    <div class="col-md-2">
                        <div class="panel panel-success button-container" data-spy="affix" data-offset-top="200">
                            <div class="panel-body">
                                <button type="button" class="btn btn-primary make-btn">Сделать сайт</button>
                            </div>
                            <div class="panel-footer amount">$<span class="amount-value">0</span></div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">Нанять программистов</div>
                            
                            <table class="table table-bordered programmers-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="programmerTpl">
                                <tr>
                                    <td>${{cost}}</td>
                                    <td><a href="#" class="hire-btn" data-pid="{{pid}}">{{title}}</a></td>
                                    <td>${{effect}} каждые {{updateInterval}}с <br> с шансом {{successChance}}%</td>
                                </tr>
                            </script>
                        </div>
                        
                        <hr>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">Нанятые программисты</div>
                            
                            <div class="panel-body hire-tip">Выберите подходящего программиста из списка выше, накопите указанную сумму и кликните по нему, чтобы нанять.</div>
                                
                            
                            <table class="table table-bordered hired-programmers-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="hiredProgrammerTpl">
                                <tr data-pid="{{pid}}">
                                    <td>{{title}} x <strong>{{num}}</strong></td>
                                    <td>
                                    ${{effect}} каждые {{updateInterval}}с
                                    <br>
                                    с шансом {{successChance}}%
                                    </td>
                                </tr>
                            </script>
                        </div>
                   

                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Добавить плюшки</div>

                            <table class="table table-bordered buffs-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="buffTpl">
                                <tr>
                                    <td>${{cost}}</td>
                                    <td><a href="#" class="hire-btn" data-bid="{{bid}}">{{title}}</a></td>
                                    <td><ul>{{{effectsDescCompiled}}}</ul></td>
                                </tr>
                            </script>
                        </div>
                        
                        <hr>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">Добавленные плюшки</div>

                            <table class="table table-bordered hired-buffs-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="hiredBuffTpl">
                                <tr data-bid="{{bid}}">
                                    <td>{{title}} x <strong>{{num}}</strong></td>
                                    <td><ul>{{{effectsDescCompiled}}}</ul></td>
                                </tr>
                            </script>
                        </div>
                        
                    </div>

                </div>
            </div>
            
            <hr>
            <footer>
                2013, <a href="https://twitter.com/kakov" target="_blank">Roman Nix</a>
                <div class="pull-right">v1.02</div>
            </footer>


        </div>




        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mustache.js"></script>
        <script src="/js/main.js?v=1.02"></script>
        
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22736008 = new Ya.Metrika({id:22736008}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22736008" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    </body>
</html>
