﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Web developer</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css?v=1.02" rel="stylesheet">
    </head>
    <body>



        <div class="container">
            
            <div class="content">
                <div class="alert alert-success checkpoint-alert" style="display: none;">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
                    Поздравляем! Вы заработали ${{amount}} за {{time}}с. Попробуйте сделать это ещё быстрее.
                </div>
                
                
                <div class="modal modal-help fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                Вы - как будто программист. 
                                Делайте сайты, набирайте команду. 
                                <br>
                                Чтобы начать зарабатывать, нажмите кнопку "сделать сайт".
                                Чем быстрее вы заработаете <strong>миллион</strong>, тем лучше.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                
                <div class="row game-row">
                    <div class="col-md-2">
                        <div class="panel panel-success button-container">
                            <div class="panel-body">
                                <button type="button" class="btn btn-primary make-btn">Сделать сайт</button>
                                <div class="estimate-profit-container" style="display: none;"><span class="estimate-profit"></span> каждые 5 с</div>
                            </div>
                            <div class="panel-footer amount">$<span class="amount-value">0</span></div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">Нанять программистов</div>
                            
                            <table class="table table-bordered programmers-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="programmerTpl">
                                <tr>
                                    <td>${{cost}}</td>
                                    <td><a href="#" class="hire-btn" data-pid="{{pid}}">{{title}}</a></td>
                                    <td>${{effect}} каждые {{updateInterval}}с <br> с шансом {{successChance}}%</td>
                                </tr>
                            </script>
                        </div>
                        
                        <hr>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">Нанятые программисты</div>
                            
                            <div class="panel-body hire-tip">Выберите подходящего программиста из списка выше, накопите указанную сумму и кликните по нему, чтобы нанять.</div>
                                
                            
                            <table class="table table-bordered hired-programmers-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="hiredProgrammerTpl">
                                <tr data-pid="{{pid}}">
                                    <td>{{title}} x <strong>{{num}}</strong></td>
                                    <td>
                                    ${{effect}} каждые {{updateInterval}}с
                                    <br>
                                    с шансом {{successChance}}%
                                    </td>
                                </tr>
                            </script>
                        </div>
                   

                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Добавить плюшки</div>

                            <table class="table table-bordered buffs-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="buffTpl">
                                <tr>
                                    <td>
                                    ${{costFormated}}
                                    <br>
                                    <a href="#" class="hire-btn" data-bid="{{bid}}">{{title}}</a>
                                    </td>
                                    <td class="buff-effects"><ul>{{{effectsDescCompiled}}}</ul></td>
                                </tr>
                            </script>
                        </div>
                        
                        <hr>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">Добавленные плюшки</div>

                            <table class="table table-bordered hired-buffs-list">
                                <tbody></tbody>
                            </table>
                            
                            <script type="text/template" id="hiredBuffTpl">
                                <tr data-bid="{{bid}}">
                                    <td>{{title}} x <strong>{{num}}</strong></td>
                                    <td><ul>{{{effectsDescCompiled}}}</ul></td>
                                </tr>
                            </script>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>




        <script src="js/jquery.js"></script>
        <script src="js/jquery.mobile-1.3.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mustache.js"></script>
        <script src="js/main.js?v=1.02"></script>
        
    </body>
</html>
